In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from math import sin, cos, sqrt, atan2, radians

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [34]:
def check_na (column):
    print(column, ':', '{:.2%}'.format(df[column].isna().sum()/len(df.index)))

In [35]:
check_na('waterfront')

waterfront : 11.00%

In [36]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [37]:
check_na('waterfront')
check_na('view')
check_na('yr_renovated')

waterfront : 11.00%
view : 0.29%
yr_renovated : 17.79%

In [39]:
df.yr_renovated = df.yr_renovated.fillna(value=0)
df = df.dropna()
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [41]:
df = df.drop(df[df.price >=6890000].index)
df = df.drop(df[df.bedrooms == 33].index)
df = df.drop(df[df.sqft_living == 13540].index)

In [42]:
def logging (column,dataframe):
    return np.log(dataframe[column])

In [44]:
data_log = pd.DataFrame([])
test = logging('sqft_living',df)

1        7.851661
2        6.646391
3        7.580700
4        7.426549
5        8.597851
6        7.447168
8        7.484369
9        7.544332
11       7.056175
12       7.265430
13       7.222566
14       7.501082
15       7.989560
16       7.544332
17       7.377759
18       7.090077
19       7.130899
20       7.390181
21       8.022897
22       7.727535
24       7.803843
25       7.444249
26       7.803843
27       7.244228
28       7.326466
29       7.851661
30       7.749322
31       7.081709
32       7.753624
33       6.993933
           ...
21559    8.034955
21560    8.486734
21561    7.549609
21563    7.455877
21564    7.930206
21565    7.930206
21566    7.313220
21568    7.138867
21569    7.533694
21570    7.265430
21571    7.326466
21572    7.098376
21573    7.839919
21574    8.499029
21575    7.926603
21576    7.081709
21577    8.335671
21579    7.333023
21580    8.188689
21581    8.134468
21583    8.291547
21584    8.405144
21585    7.261927
21588    7.306531
21590    8.163371
21591    7.177782
21592    7.333023
21593    7.745003
21594    6.927558
21596    6.927558
Name: sqft_living, Length: 19159, dtype: float64